.header {
    display: flex;
    align-items: center;
    height: 60px;
    min-height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #010126;
    box-shadow: 0px 2px 18px rgb(1, 1, 38);
	-webkit-box-shadow: 0px 2px 18px rgb(1, 1, 38);
	-moz-box-shadow: 0px 2px 18px rgb(1, 1, 38);
}

.links {
    display: flex;
    align-items: center;
}

.resumeButtton {
    margin: 0 1rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: .5rem 0;
}

.mobileMenuButton {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
}

.mobileMenuButton p {
    margin: 0;
    display: flex;
    align-items: center;
}

.mobileMenuContainer {
    padding: 4.5rem 0 !important;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: #010126;
    right: 0;
    z-index: 0;
    transition: all .5s ease;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%)
}

.open {
    transform: translateX(0%)
}

.mobileMenuContainer div {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: .5rem 0;
}

.mobileMenuContainer div p {
    display: block;
    width: 100%;
    text-align: center;
}

.mobileMenuContainer button {
    overflow: revert !important;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.menuContainer p {
    cursor: pointer;
    padding: .75rem;
    border-radius: 10px;
    transition: all .5s ease;
}

.desktopMenuContainer {
    display: flex;
    align-items: center;
}

.desktopMenuContainer p:hover {
    background-color: #01011b;
}

.menuContainer p a:hover {
    color: inherit !important;
}

@media screen and (max-width: 959px) {
    .mobileMenuContainer {
        width: 50vw;
    }
}

@media screen and (max-width: 400px) {
    .mobileMenuContainer {
        width: 70vw;
    }
}