.mainContent {
  padding-top: 6.5rem;
  box-sizing: border-box;
}

.mainContent {
  z-index: 2;
}

.mainContent::before {
  content: '';
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-mask-image: linear-gradient(to top, transparent 20%, black 100%);
  mask-image: linear-gradient(to top, transparent 20%, black 100%);
  background-image: url('assets/cover.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  z-index: 0;
}