.section {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
}

.section.main {
    max-width: 1200px;
    padding: 0;
}

.title {
    font-weight: 800;
    font-size: 56px;
    line-height: 56px;
    width: max-content;
    max-width: 100%;
    letter-spacing: 1px;
    /* background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%); */
    /* background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%); */
    background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
    background-clip: text;
    box-decoration-break: clone;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    margin-bottom: 16px;
    padding: 0 0 16px;
    margin-bottom: 2rem;
    text-align: left;
}

.title.main {
    font-size: 65px;
    line-height: 72px;
    background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.subtitle {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    width: max-content;
    max-width: 100%;
    letter-spacing: 1px;
    background: -webkit-linear-gradient(-70deg, #3bf0e4 0%, #bca1f7 100%);
    /* background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%); */
    /* background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%); */
    background-clip: text;
    box-decoration-break: clone;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    margin-bottom: 16px;
    padding: 0 0 16px;
    margin-bottom: 2rem;
    text-align: left;
}

.divider {
    width: 64px;
    height: 6px;
    border-radius: 10px;
    background-color: #fff;
    background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
    margin: 4rem 0 3rem 0;
}

.carousel {
    scroll-snap-type: x mandatory;
    background: #0F1624;
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between; 
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 80px;
}

.carousel:first-of-type {
    margin-left: 0px;
}

.carouselItem {
  background: #0F1624;
  border-radius: 3px;
  width: auto;
  margin: 0 .5rem;
  scroll-snap-align: start;
}

.carouselItem:first-of-type {
    margin-left: 0;
}

.carouselItem:last-of-type {
    margin-right: 0;
}

.timeline {
    display: grid;
    grid-row-gap: 2rem;
    --uiTimelineMainColor: #222;
    --uiTimelineSecondaryColor:#fff;
    border-left: 3px solid #e5e5e5;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.timelineEvent {
    margin-bottom: 1rem;
    margin-left: 1rem;
    display: block;
    font-size: 1.3rem;
    --timePadding: .5rem 1.5rem;
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: 400;
}
  
.timelineCards {
    display: grid;
    grid-row-gap: 1.5rem;
    overflow: hidden;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.timelineCard {
    position: relative;
    margin-left: 1rem;
    max-width: calc(100% - 1.5rem);
}

.timelineCard::before{
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
}
/* Media Queries */

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 12px;
        padding: 0 0 12px;
    }

    .title.main {
        font-size: 56px;
        line-height: 56px;
        margin-bottom: 12px;
        padding: 40px 0 12px;
    }

    .subtitle {
        font-size: 26px;
        line-height: 26px;
        margin-bottom: 12px;
        padding: 0 0 12px;  
    }

    .divider {
        margin: 3rem 0 2rem 0;
    }

}

@media screen and (max-width: 640px) {
    .section {
        width: calc(100vw - 32px);
        flex-direction: column;
    }

    .title {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 8px;
        padding: 0 0 8px;
        max-width: 100%;
    }

    .title.main {
        font-size: 40px !important;
        line-height: 40px !important;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 8px;
        padding: 16px 0 8px;
        max-width: 100%;
    }

    .subtitle {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 12px;
        padding: 0 0 12px;  
    }

    .divider {
        margin: 2rem 0 1rem 0;
        height: 4px;
    }
}